<div class="wrapper">

  <mat-card class="Form">
    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <div class="FormContent">
            <div class="FormHeader">Create Account</div>
            <div class="FormSubTitle">Set up your account for testing purposes.</div>
            <ng-template matStepLabel>Create Account</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Account Username</mat-label>
              <input matInput formControlName="username" required>
              <mat-hint>This will be your unique login name.</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" required>
              <mat-hint>How may we call you?</mat-hint>
            </mat-form-field>
            <div class="FormContentInline">
              <div class="FormContentInlineEmail">
                <mat-form-field appearance="fill">
                  <mat-label>E-Mail</mat-label>
                  <input matInput formControlName="eMail" required>
                  <mat-hint>example@example.com</mat-hint>
                </mat-form-field>
              </div>
              <div class="FormContentInlinePhone">

                <mat-form-field appearance="fill">
                  <mat-label>Code</mat-label>
                  <mat-select formControlName="code">
                    <mat-option value="+1">+1</mat-option>
                    <mat-option value="+27">+27</mat-option>
                    <mat-option value="+44">+44</mat-option>
                    <mat-option value="+49">+49</mat-option>
                    <mat-option value="+61">+61</mat-option>
                    <mat-option value="+91">+91</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Phone Number</mat-label>
                  <input matInput formControlName="phone">
                </mat-form-field>
              </div>
            </div>
          </div>
          <mat-divider class="FormDivider" inset></mat-divider>
          <div class="FormControls">

            <button mat-button color="primary" (click)="stepper.reset()">Reset</button>
            <button mat-raised-button color="primary" matStepperNext [disabled]="!firstFormGroup.valid">Next</button>
          </div>

        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Select a Password">
        <form [formGroup]="secondFormGroup">
          <div class="FormContent">
            <div class="FormHeader">Select a Password</div>
            <div class="FormSubTitle">Enter your password you will use to log in.</div>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
              <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint>Your password should be atleast 6 characters long.</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Confirm Password</mat-label>
              <input matInput formControlName="passwordConfirm" [type]="hide ? 'password' : 'text'" required>
              <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint>Please type in your password again.</mat-hint>
            </mat-form-field>
          </div>
          <mat-divider class="FormDivider" inset></mat-divider>

          <div class="FormControls">
            <button mat-button color="primary" matStepperPrevious>PREVIOUS</button>
            <button mat-raised-button color="primary" matStepperNext [disabled]="!secondFormGroup.valid">Next</button>
          </div>

        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Confirm Creation</ng-template>
        <form [formGroup]="thirdFormGroup">
          <div class="FormContent">

            <div class="FormHeader">You're almost there!</div>
            <div class="FormSubTitle">To finish registration, accept our terms of service and click on "Create Account".</div>
            <mat-checkbox formControlName="confirm" required> I agree to the terms of service and the usual stuff. *
            </mat-checkbox>
          </div>
          <mat-divider class="FormDivider" inset></mat-divider>
          <div class="FormControls">
            <button mat-button color="primary" matStepperPrevious>PREVIOUS</button>
            <button mat-raised-button color="primary" (click)="openSnackBar('Hooray! You successfully created your account.')"
                    [disabled]="!thirdFormGroup.valid">CREATE ACCOUNT
            </button>
          </div>
        </form>


      </mat-step>
    </mat-stepper>
  </mat-card>

  <mat-card class="Form">
    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
      <mat-step [stepControl]="verticalFirstFormGroup">
        <form [formGroup]="verticalFirstFormGroup">
          <div class="FormContent">
            <div class="FormHeader">Create Account</div>
            <div class="FormSubTitle">Set up your account for testing purposes.</div>
            <ng-template matStepLabel>Create Account</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Account Username</mat-label>
              <input matInput formControlName="username" required>
              <mat-hint>This will be your unique login name.</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" required>
              <mat-hint>How may we call you?</mat-hint>
            </mat-form-field>
            <div class="FormContentInline">
              <div class="FormContentInlineEmail">
                <mat-form-field appearance="fill">
                  <mat-label>E-Mail</mat-label>
                  <input matInput formControlName="eMail" required>
                  <mat-hint>example@example.com</mat-hint>
                </mat-form-field>
              </div>
              <div class="FormContentInlinePhone">

                <mat-form-field appearance="fill">
                  <mat-label>Code</mat-label>
                  <mat-select formControlName="code">
                    <mat-option value="+1">+1</mat-option>
                    <mat-option value="+27">+27</mat-option>
                    <mat-option value="+44">+44</mat-option>
                    <mat-option value="+49">+49</mat-option>
                    <mat-option value="+61">+61</mat-option>
                    <mat-option value="+91">+91</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Phone Number</mat-label>
                  <input matInput formControlName="phone">
                </mat-form-field>
              </div>
            </div>
          </div>
          <mat-divider class="FormDivider" inset></mat-divider>
          <div class="FormControls">

            <button mat-button color="primary" (click)="stepper.reset()">Reset</button>
            <button mat-raised-button color="primary" matStepperNext [disabled]="!verticalFirstFormGroup.valid">Next</button>
          </div>

        </form>
      </mat-step>
      <mat-step [stepControl]="verticalSecondFormGroup" label="Select a Password">
        <form [formGroup]="verticalSecondFormGroup">
          <div class="FormContent">
            <div class="FormHeader">Select a Password</div>
            <div class="FormSubTitle">Enter your password you will use to log in.</div>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
              <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint>Your password should be atleast 6 characters long.</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Confirm Password</mat-label>
              <input matInput formControlName="passwordConfirm" [type]="hide ? 'password' : 'text'" required>
              <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint>Please type in your password again.</mat-hint>
            </mat-form-field>
          </div>
          <mat-divider class="FormDivider" inset></mat-divider>

          <div class="FormControls">
            <button mat-button color="primary" matStepperPrevious>PREVIOUS</button>
            <button mat-raised-button color="primary" matStepperNext [disabled]="!verticalSecondFormGroup.valid">Next</button>
          </div>

        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Confirm Creation</ng-template>
        <form [formGroup]="verticalThirdFormGroup">
          <div class="FormContent">

            <div class="FormHeader">You're almost there!</div>
            <div class="FormSubTitle">To finish registration, accept our terms of service and click on "Create Account".</div>
            <mat-checkbox formControlName="confirm" required> I agree to the terms of service and the usual stuff. *
            </mat-checkbox>
          </div>
          <mat-divider class="FormDivider" inset></mat-divider>
          <div class="FormControls">
            <button mat-button color="primary" matStepperPrevious>PREVIOUS</button>
            <button mat-raised-button color="primary" (click)="openSnackBar('Hooray! You successfully created your account.')"
                    [disabled]="!verticalThirdFormGroup.valid">CREATE ACCOUNT
            </button>
          </div>
        </form>


      </mat-step>
    </mat-stepper>
  </mat-card>
<!--  <mat-card class="verticalForm">-->
<!--    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>-->
<!--      <mat-step [stepControl]="verticalFirstFormGroup">-->
<!--        <form [formGroup]="verticalFirstFormGroup">-->
<!--          <ng-template matStepLabel>Create Account</ng-template>-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Account Username</mat-label>-->
<!--            <input matInput formControlName="username" required>-->
<!--            <mat-hint>This will be your unique login name.</mat-hint>-->
<!--          </mat-form-field>-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Name</mat-label>-->
<!--            <input matInput formControlName="name" required>-->
<!--            <mat-hint>How may we call you?</mat-hint>-->
<!--          </mat-form-field>-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>E-Mail</mat-label>-->
<!--            <input matInput formControlName="eMail" required>-->
<!--            <mat-hint>example@example.com</mat-hint>-->
<!--          </mat-form-field>-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Code</mat-label>-->
<!--            <mat-select formControlName="code">-->
<!--              <mat-option value="+1">+1</mat-option>-->
<!--              <mat-option value="+27">+27</mat-option>-->
<!--              <mat-option value="+44">+44</mat-option>-->
<!--              <mat-option value="+49">+49</mat-option>-->
<!--              <mat-option value="+61">+61</mat-option>-->
<!--              <mat-option value="+91">+91</mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Phone Number</mat-label>-->
<!--            <input matInput formControlName="phone">-->
<!--          </mat-form-field>-->
<!--          <div>-->
<!--            <button mat-button (click)="stepper.reset()">Reset</button>-->
<!--            <button mat-button matStepperNext [disabled]="!verticalFirstFormGroup.valid">Next</button>-->
<!--          </div>-->

<!--        </form>-->
<!--      </mat-step>-->
<!--      <mat-step [stepControl]="verticalSecondFormGroup" label="Select a Password">-->
<!--        <form [formGroup]="verticalSecondFormGroup">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Password</mat-label>-->
<!--            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>-->
<!--            <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"-->
<!--                    [attr.aria-pressed]="hide">-->
<!--              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--            </button>-->
<!--            <mat-hint>Your password should be atleast 6 characters long.</mat-hint>-->
<!--          </mat-form-field>-->

<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Confirm Password</mat-label>-->
<!--            <input matInput formControlName="passwordConfirm" [type]="hide ? 'password' : 'text'" required>-->
<!--            <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"-->
<!--                    [attr.aria-pressed]="hide">-->
<!--              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--            </button>-->
<!--            <mat-hint>Please type in your password again.</mat-hint>-->
<!--          </mat-form-field>-->
<!--          <div>-->
<!--            <button mat-button matStepperPrevious>Back</button>-->
<!--            <button mat-button matStepperNext [disabled]="!verticalSecondFormGroup.valid">Next</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </mat-step>-->
<!--      <mat-step>-->
<!--        <ng-template matStepLabel>Confirm Creation</ng-template>-->
<!--        <form [formGroup]="verticalThirdFormGroup">-->

<!--          <div>You're almost there!</div>-->
<!--          <div>To finish registration, accept our terms of service and click on "Create Account".</div>-->
<!--          <mat-checkbox formControlName="confirm" required> I agree to the terms of service and the usual stuff. *-->
<!--          </mat-checkbox>-->
<!--          <div>-->
<!--            <button mat-button matStepperPrevious>Back</button>-->
<!--            <button mat-button (click)="openSnackBar('Hooray! You successfully created your account.')"-->
<!--                    [disabled]="!verticalThirdFormGroup.valid">CREATE ACCOUNT-->
<!--            </button>-->
<!--          </div>-->
<!--        </form>-->


<!--      </mat-step>-->
<!--    </mat-stepper>-->
<!--  </mat-card>-->
</div>
