<mat-toolbar>
  <div style="height: 64px; padding: 10px">
    <form class="example-form" [formGroup]="routeForm">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input type="text" matInput formControlName="routeGroup" [matAutocomplete]="autoGroup" placeholder="Search...">

        <mat-autocomplete #autoGroup="matAutocomplete">

          <mat-optgroup *ngFor="let group of routeGroupOptions | async" [label]="group.groupName">
           <mat-option *ngFor="let route of group.routes" [value]="route.name" (click)="navbarNavigate(route.route)">
              {{route.name}}
            </mat-option>
          </mat-optgroup>

        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>


  <span class="example-spacer"></span>

  <button class="toolbar-btn b-left b-small" mat-icon-button (click)="Fullscreen()"><mat-icon>fullscreen</mat-icon></button>
  <button class="toolbar-btn b-left b-small" mat-icon-button [matMenuTriggerFor]="header_menu1"><mat-icon matBadge="{{notifications.length?notifications.length:''}}">notifications_active</mat-icon></button>
  <button class="toolbar-btn b-left menu-btn" mat-icon-button [matMenuTriggerFor]="header_menu2" (menuOpened)="menuToggle()" (menuClosed)="menuToggle()"><img src="assets/images/Pikachu.png" alt="logo">Team B<mat-icon>keyboard_arrow_{{menuOpened?'up':'down'}}</mat-icon></button>
  <button class="toolbar-btn b-left b-small" mat-icon-button><mat-icon>format_align_right</mat-icon></button>
</mat-toolbar>

<mat-menu #header_menu1="matMenu" xPosition="before" yPosition="below">
  <mat-card-header>
    <mat-card-title>Notifications</mat-card-title>
    <mat-card-subtitle>You have {{notifications.length}} notifications</mat-card-subtitle>
    <button mat-icon-button (click)="$event.stopPropagation();"><mat-icon>settings</mat-icon></button>
  </mat-card-header>

  <div *ngFor="let notification of notifications; index as i;">
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="$event.stopPropagation();">
      <mat-icon [ngStyle]="{'color': notification.isActive ? 'black' : ''}">notifications{{notification.isActive?'_active':''}}</mat-icon>
      <span [ngStyle]="{'color': notification.isActive ? 'black' : '#707070'}">{{notification.text}}</span>
      <button mat-icon-button class="notification-item" (click)="removeNotification($event, i)"><mat-icon>close</mat-icon></button>
    </button>
  </div>


  <mat-divider></mat-divider>
  <button mat-menu-item style="text-align: center;" (click)="markRead($event)">
    <span>Mark all as read</span>
  </button>
</mat-menu>

<mat-menu class="logout-menu" #header_menu2="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item (click)="$event.stopPropagation();">
    <mat-icon>account_circle</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item (click)="$event.stopPropagation();">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <button mat-menu-item (click)="$event.stopPropagation();">
    <mat-icon>help</mat-icon>
    <span>Help</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item routerLinkActive="active" routerLink="/login">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>

<button class="settings-btn" mat-fab color="warn"><mat-icon>settings</mat-icon></button>
