<div class="main-container">
  <div class="background" *ngIf="showbackground"></div>

    <mat-drawer class="sidenav" mode="side" opened (mouseenter)="toggleSidenav()" (mouseleave)="toggleSidenav()">
      <div class="nav-header">
        <h1><span *ngIf="showFiller">Project</span>B <mat-checkbox class="example-margin" *ngIf="showFiller" [(ngModel)]="canToggle"></mat-checkbox></h1>
        <p><img src="assets/images/Pikachu.png" class="{{showFiller? '':'img-resized'}}"></p>
        <h3 *ngIf="showFiller">Team B</h3>
        <p *ngIf="showFiller">team.b@example.com</p>
        <p *ngIf="showFiller">
          <mat-icon class="sidenav-header-icons" routerLinkActive="active" routerLink="/main/table">assignment</mat-icon>
          <mat-icon class="sidenav-header-icons" routerLinkActive="active" routerLink="/main/calendar">date_range</mat-icon>
          <mat-icon class="sidenav-header-icons" routerLinkActive="active" routerLink="/login">exit_to_app</mat-icon>
        </p>
      </div>

      <div class="nav-content">
        <div *ngFor="let group of appRoutes">
          <p *ngIf="showFiller" class="route-group-header">{{group.groupName}}</p>
          <div *ngFor="let rout of group.groupRoutes">
            <p *ngIf="!rout.children.length" class="p-route {{showFiller? '':'p-resized'}}" (click)="breadcrumbs(rout.routeName, rout.path)" routerLinkActive="active" routerLink="{{rout.path}}"><mat-icon class="{{showFiller? 'icon-resized':''}}">{{rout.icon}}</mat-icon><span *ngIf="showFiller">{{rout.routeName}}</span><span *ngIf="showFiller && rout.badge" class="badge badge-pos">{{rout.badge}}</span></p>

            <p *ngIf="rout.children.length && !showFiller" class="p-route {{showFiller? '':'p-resized'}}"><mat-icon class="{{showFiller? 'icon-resized':''}}">{{rout.icon}}</mat-icon></p>
            <mat-expansion-panel *ngIf="rout.children.length && showFiller">
              <mat-expansion-panel-header>
                <mat-panel-title style="color: white" class="p-route {{showFiller? '':'p-resized'}}">
                  <mat-icon class="{{showFiller? 'icon-resized':''}}">{{rout.icon}}</mat-icon><span *ngIf="showFiller">{{rout.routeName}}</span>
                </mat-panel-title>
                <span *ngIf="showFiller && rout.badge" class="badge" style="margin-right: 10px">{{rout.badge}}</span>
              </mat-expansion-panel-header>

              <p *ngFor="let childRout of rout.children" class="p-route" (click)="breadcrumbs(childRout.routeName, childRout.path)" routerLinkActive="active" routerLink="{{childRout.path}}"><span class="expanded-link expanded-icon">{{childRout.icon}}</span><span class="expanded-link">{{childRout.routeName}}</span></p>
            </mat-expansion-panel>

          </div>
        </div>
      </div>
    </mat-drawer>

  <div class="page-content" [ngStyle]="{'padding-top': showbackground?'100px':'50px'}">
    <h1 *ngIf="showbackground" style="color: white; margin-bottom: 0">{{location}}</h1>
    <h3 *ngIf="showbackground" style="color: white">{{path}}</h3>
    <router-outlet></router-outlet>
  </div>
</div>
