/deep/app-editor.ng-star-inserted{
  height: inherit;
  display: flex;
  flex-direction: column;
}
ng-form{
  height: inherit;
  display: flex;
  flex-direction: column;
}
/deep/quill-editor{
  height: inherit;
  display: flex;
  flex-direction: column;
}
.editor-container{
  height: inherit;
  display: flex;
  flex-direction: column;
  padding: 100px;
  box-sizing: border-box;
}
