<mat-card>
  <mat-card-header>
    <mat-card-title>Level 3</mat-card-title>
    <mat-card-subtitle>Not as deep as you can go.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    You went so deep, wow! But this is not even as deep as you can go, Fury supports UNLIMITED Levels in the Menu.
    <br>
    <br> Now go ahead and explore the other great pages of Fury. Have you seen the
    <a href="/main/inbox" onclick="event.preventDefault(); this.children[0].click()">
      <i (click)="navigateTo('/main/inbox')"></i>awesome Inbox Component?</a>
  </mat-card-content>
</mat-card>
