/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

body {
  height: 100vh;
  overflow-y: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-main{
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.ql-toolbar.ql-snow, .ql-editor{
  background-color: white !important;
}
.ql-container{
  box-shadow: 0 8px 10px -5px #0003, 0 16px 24px 2px #00000024, 0 6px 30px 5px #0000001f;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: inherit;
}
