<div class="card-wrapper">
    <mat-card>
        <div mat-card-image>
            <div class="logo">
                <svg viewBox="0 0 33.74 33.99" xmlns="http://www.w3.org/2000/svg" style="fill:#fff;">
                    <title>icon</title>
                    <path
                        d="M26.83,19.33c-.36.37-.73.71-1.09,1l.31,3.22a5.41,5.41,0,0,1-2.43,5.14L15.72,34l-.67-8.74a6.54,6.54,0,0,1-6.57-6.53L0,18.18l5-7.93a5.41,5.41,0,0,1,5.23-2.54l3.1.31q.49-.55,1.05-1.11C20.78.54,30.82-.62,33.48.26,34.37,2.93,33.2,13,26.83,19.33Zm-.45-12a3.77,3.77,0,1,0,0,5.33A3.77,3.77,0,0,0,26.38,7.36ZM2.82,23.72l3.24-3.24a8.24,8.24,0,0,0,7.11,7.1L10.5,30.25,7.74,33V29.46L2.41,31.23l1.78-5.32H.64Z">
                    </path>
                </svg>
            </div>
        </div>

        <form mat-card-content [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
            <div class="name-email-pass-wrapper">
                <mat-form-field appearance="fill">
                    <mat-label>Name *</mat-label>
                    <input [formControlName]="'name'" type="name" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>E-Mail *</mat-label>
                    <input [formControlName]="'email'" type="email" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Password *</mat-label>
                    <input [formControlName]="'password'" matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button type="button" matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon class="material-icons-outlined">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint>Click the eye to toggle visibility</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Password (Confirm) *</mat-label>
                    <input [formControlName]="'password_repeat'" matInput [type]="hide_repeat ? 'password' : 'text'">
                    <button mat-icon-button type="button" matSuffix (click)="hide_repeat = !hide_repeat"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_repeat">
                        <mat-icon class="material-icons-outlined">{{hide_repeat ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint>Please repeat your password from above</mat-hint>
                </mat-form-field>
            </div>
            <div class="accept-TOS-wrapper">
                <mat-checkbox [checked]="acceptTOS" (change)="acceptTOSChanged($event.checked)"><span class="caption">I
                        accept the
                        <a class="caption" href="/terms-of-service" (click)="navigateTo('terms-of-service')">terms and
                            conditions.</a>
                    </span>
                </mat-checkbox>
            </div>
            <button mat-raised-button type="submit" color="primary" style="margin-bottom: 16px; width: 100%;">CREATE
                ACCOUNT</button>
            <p class="secondary-text register-wrapper caption-1">
                Already have an account?
                <br>
                <a href="/login" (click)="navigateTo('login')" class="caption-1">Sign in here</a>
            </p>
            <div></div>
        </form>
    </mat-card>
</div>